version: '3.7'
services:
  book-service:
    image: book-service:booktiq-apiservice
    build: ./src/book-service
    container_name: book-service

  pricing-service:
    image: pricing-service:booktiq-apiservice
    build: ./src/pricing-service
    container_name: pricing-service

  rating-service:
    image: book-rating:booktiq-apiservice
    build: ./src/rating-service
    container_name: rating-service

  api-gateway:
    image: api-gateway:booktiq-apiservice
    build: ./src/api-gateway
    container_name: api-gateway
    ports:
        - 9000:9000

  consul:
    image: consul
    container_name: "consul"
    hostname: "consul"
    ports:
        - 8500:8500
    command: agent -server -ui -node=server-1 -bootstrap-expect=1 -client=0.0.0.0